# AWS Configuration
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key

# Postgres Secret Name in AWS Secrets Manager (JSON {host, port, db, user, pass})
PG_SECRET_NAME=Greip/postgres/DEV
